:root {
    --branco: #D3FFFF;

    --azulClaro: #04BFBF;

    --azulEscuro: #03588C;

    --turquesa: #04D9C4;

    --verdeEscuro: #025920;

    --verdeClaro: #03A65A;

    --titulo: 'Montserrat', sans-serif;

    --texto: 'Raleway', sans-serif;
}